/*Global styles*/
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding: 1% 7%;
}

.above-title-text {
    color: #8A2387;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.btn-outline-dark {
    border: 1px solid #8e2de2;
    border-radius: 10px;
}

.btn-outline-dark:hover {
    background: #8e2de2;
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
}

/*Heading*/



.heading-image {
    width: 90%
}

/*Countdown*/

#countdown {
    text-align: center;
}

.countdown-timer {
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
    color: white;
    background: #8e2de2;
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.timeval-description {
    text-transform: uppercase;
}

/*Wave*/

.wave {
    background: url(../assets/svg/wave.svg);
    background-size: contain;
    height: 15vh;

}

/*About section*/

#about {
    padding-top: 3%;
    background: #F3F4F5;
    min-height: 50vh;
}

.about-info {
    margin-top: 10vh;
}

.about-content {
    padding: 1% 20%;
}


.heading-subinfo {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.about-image {
    width: 100%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/*Features*/

#features{
    text-align: center;
    position:relative;
  }
  
  .feature-title{
    font-size:1.5rem;
  }
  
  .feature-box{
    padding:5%;
  }
  
  
  
  .icon{
    color:#5856d1;
    margin-bottom:1rem;
  }
  
  .icon:hover{
    color:#2b29c4;
  }